@font-face {
    font-family: Roboto;
     src: url("./assets/fonts/Fuzzy_Bubbles\,Playfair_Display\,Roboto.zip");
   }
   * {
    box-sizing: border-box;
  }
   html {
    scroll-behavior: smooth; 
  }
  
body{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.header {
  max-width: 1440px;
  background-color: rgb(223, 160, 160);
}
.header-container{
  display: flex;
  justify-content: right;
  margin-right: 40px;

}
.nav {
  width: 1140px;
  justify-content: space-between;
} 
.nav-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link :hover{
  background-color: rgb(126, 128, 155);
}
.nav-link {
    transition: .3s;
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    color: rgb(15, 16, 15);
  }

.main {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-bottom: auto;
}

.left-aside {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(229, 233, 225);
   
  
}
.profile-section{
  display: flex;
  justify-content: center;
  margin-top: 57px;
}

.profile-section img{
  display: flex;
 margin-bottom: 50px;
}
.contacts h2{
  display: flex;
  justify-content: center;

}

.skills{
  display: flex;
  flex-direction: column;
 
}
.all-skills{
  display: flex;
}
.skills-text{
    width: 60px;
    margin-right: 15px;
    font-weight: 400;
}
.skills-list{
    display: flex;
    align-items: center;
    
}
.skills-item{
    width: 15px;
    height: 15px;
    background-color: rgb(223, 160, 160);
    border-radius: 50%;
    margin-right: 5px;
    transition: all .3s linear;
    display: inline-block;
}

.gray{
  background-color: rgba(54, 54, 104, 0.6);
}
.section-title{
text-align: center;
}
.contact-list{
  display: flex;
  flex-direction: column;
}
.contact-item{
  display: flex;
  align-items: center;
}
.contact-item p{
  padding-left: 10px;

}
.lang-item{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.right-aside {
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 232, 226);
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;

}
.about {
  margin-top: 40px;
}
.education {
  margin-top: 40px;
}
.code-section {
  margin-top: 40px;
}
/* .projects-section {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.project-title{
  text-align: center;
}
.project{
  display: flex;
  width: 900px;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.project-item{
  margin-right: 20px;
}

/* .experience-section {
  display: flex;
  flex-direction: column;

} */

.experience-section{
  margin-top: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content:space-around;
  max-width: 1440px;
  background-color: rgb(233, 159, 159);
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.footer a{
  text-decoration: none;
  color: black;
}


@media screen and (max-width: 1439px) and (min-width: 768px) {
  
 }